/* Coloring */
.btn-danger{
  background: #ff3b3c !important;
}
.btn-success{
  background: #15b26d !important;
}
.btn-warning{
  background: #b27814 !important;
}
.btn-purple{
  color: white;
  background: #9C30C2;
}
.btn-gray{
  color: white;
  background: #8b8b8b;
}



.bg-purple{
  background: #9C30C2;
}
.bg-danger{
  background: #ff3b3c !important;
}
.bg-success{
  background: #15b26d !important;
}
.bg-warning{
  background: #b27814 !important;
}
.bg-info{
  background: #28a4c9 !important;
}
.bg-darkpurple{
  background: #5B1377;
}
.bg-darkred{
  background: #9a2627 !important;
}
.bg-darkgreen{
  background: #0c7346 !important;
}
.bg-darkblue{
  background: #0f526d !important;
}
.bg-darkbrown{
  background: #623c0b !important;
}
.bg-white{
  background: #ffffff;
}

/* General Styling */
.w-100 {
  width:100% !important;
}
.w-auto {
  width: auto !important;
}



input {
  border: none;
}
::placeholder{
  color: white;
  opacity: .5;
}
li.menu-item {
  display: inline-block !important;
}
li.menu-item a{
  padding:15px 15px !important;
  color: black;
  font-weight: bold;
}
textarea{
  padding: 10px;
  height: 150px;
}
body{
  background-color: #e4e4e4 !important;
}
.text-area{
  background: transparent;
  border: 2px solid white;
  height: 150px;
  margin: 2px auto;
}
.header {
  padding: 0px 15px;
}

.logo:hover {
    text-decoration: none;
}
.logo-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
}


.btn {
  box-shadow:-4px -4px 4px 0px rgba(11, 0, 0, 0.25) inset, 1px 3px 6px 0px grey !important;
  white-space: normal !important;
  border-radius: 0px !important;
  padding: 12px !important;
  border: none !important;
}
table {
  margin-top: 20px;
}
th {
  text-align: center;
}

.summary{
  padding: 0px !important;
}

.summary .field-group {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
}

.summary .field-group:nth-child(2) {
  text-align: right;
  padding-right: 0px;
}
.billing .summary .field-group:nth-child(2) {
  text-align: center;
  padding-right: 0px;
}

.field-data {
  color: white;
  display: inline-block;
  width: 75%;
  padding: 10px;
}

.summary .field-data:nth-child(2) {
  text-align: left;
}

/* Header */
.user-account {
  text-align: center;
  margin: 10px 0px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  float: left;
}



/* Body */
.body-content {
  margin-top: 20px;
}


/* Left Side Styling */
.left .btn {
  width: 96%;
  margin: 5px;
}


/* Right Side Styling */
.right .field-item{
  margin-bottom: 10px;
}

.right .field-item label {
  width: 28%;
  vertical-align: middle;
  text-align: center;
}
.add-supplier .right .field-item label {
  width: auto;
  vertical-align: middle;
  text-align: center;
}
.right .btn.small-btn{
  box-shadow: -3px -3px 3px 0px rgba(11, 0, 0, 0.25) inset, 1px 2px 6px 0px grey !important;
  background: white;
  padding: 5px 10px !important;
  padding: 10px 10px !important;
}

.right .field-item .field-data{
  width:70%;
}

.right .btn {
  height: 70px;
  margin: 4px;
}
.add-supplier .right .btn {
  height: auto;
  margin:auto;
}
.add-supplier .right .display-fields .btn.small-btn {
  float: right;
  margin-top: -3px;
}
.add-supplier .right .action-btn{
  padding-left: 0px !important;
}
.add-supplier .right .action-btn:nth-child(2n){
  padding-right: 0px !important;
  padding-left: 15px !important;
}
.add-supplier .right input{
  color: white;
  border: none;
  padding: 6px;
  height: inherit;
}
.buttons {
  padding: 0px 20px;
}

/* Center Styling */
input.item-qty , input.item-price {
  width: 40px;
}



.center {
 
  padding-top: 30px;
  background: white;
}
.field-group input.field-data::placeholder{
  color: black;
}
.field-group input{
  color: black;
}
.center .input-fields .field-item {
  padding-bottom: 15px;
}

.field-item .field-inner {
  padding: 17px 20px;
}
.billing .field-item .field-inner {
  padding: 17px 20px;
  display: flex;
  height: fit-content;
  align-items: center;
}
.billing .field-item {
  margin-top: 30px !Important;
} 
.field-inner input {
  color: white;
  border: none;
  padding: 6px;
  width: 60%;
  height: inherit;
}
.field-inner label {
  width: 20%;
}
.billing .field-inner label {
    width: 50%;
}
.billing .field-inner input {
    width: 50%;
}
.field-inner .btn {
  box-shadow: -3px -3px 3px 0px rgba(11, 0, 0, 0.25) inset, 1px 2px 6px 0px grey !important;
  background: white;
  padding: 5px 10px !important;
  float: right;
  width: 60px;
}
.center .table>tbody>tr>td {
  vertical-align: middle;
}
.center .table .btn {
  width: 100%;
  padding: 5px !important;
}
/*.row.description-table {
  padding: 0px 15px;
}*/
.show-invoice{
  margin-right: -20px;
  margin-left: auto;
}



/* inventory Page */

.inventory .center .field-inner label{
  width: auto;
}

.inventory .center .field-inner input{
  width: auto;
}
.inventory .center .input-fields:first-child .field-item .btn {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}



/* Payment Page */
.payments .field-item{
  margin:10px auto;
}

.payments .center .field-item .btn{
  font-size: 22px;
}


/* Modal Styling */
.top-bar input {
  border: 1px solid;
  padding: 5px 10px;
  margin: 10px 0px;
}
.top-bar label {
  padding: 10px 0;
  margin: 10px 0;
}


/* Calculator Styling */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.left .calculator {
  position: relative;
  top: unset;
  left: unset;
  transform: unset;
  width: 100%;
  margin-top: 50px;
} 


.calculator-screen {
  width: 100%;
  border: none;
  background-color: purple;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 4rem;
  grid-area: 1 / 4 / 1 / 1;
}


.equal-sign {
  height: 98%;
  grid-area: 2 / 4 / 6 / 8;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.calculator .btn{
  border-radius: 5px !important;
  width:unset;
}
.calculator .all-clear {
  grid-column: 2/5;
}
button.operator.btn.plus.btn-success {
  grid-area: 1/ 4 / 3;
}


/* Setting Model Design */
#setting-modal .modal-body,#sales-modal .modal-body{
  padding: 0px !important;
}
.modal-body .navbar{
  margin-bottom: 0px;
}
.modal-body .nav{
  background-color: #e4e4e4 !important;
}
.modal-body .panel{
  border:none;
  box-shadow:none;
}
.moday-body .panel-group .panel+.panel{
  margin-top: none;
}
.modal-body .field-group {
  margin: 30px 0px;
}
.modal-body .field-group input{
  padding: 6px;
  margin:0 15px;
}
.modal-body .field-group .field-item{
  margin: 10px 0px;
}
#setting-modal .button-fields .field-item button.btn {

  width: 250px;
}
@media (min-width: 768px){
  .modal-dialog {
    width: 75% !important;
  }
}




/* Sales Page Designing */

.sales-report .navbar {
    margin-right: -15px;
    margin-bottom: 0px;
    margin-left: -15px;
}
.sales-report .nav{
  background-color: #e4e4e4 !important;
}
.sales-report .panel{
  border:none;
  box-shadow:none;
}
.sales-report .panel-group .panel+.panel{
  margin-top: none;
}
.sales-report .field-group {
  margin: 30px 0px;
}
.sales-report .field-group input{
  padding: 6px;
}
.sales-report .field-group .field-item{
  margin: 10px 0px;
}
.sales-report .center{
  padding:0px;
}




.sales-report .date-fields .field-item{
  padding-left: 30px;
  color:white;
}
.sales-report .date-fields .field-item:nth-child(2n){
  padding-right: 30px;
  padding-left: 15px;
}
.sales-report .button-fields .btn {
  font-size: 22px;
}
.sales-report .select-fields .field-item .field-inner{
  padding:17px 0px;
  text-align: right;
}
.sales-report .select-fields .field-item .field-inner label{
  width: auto;
}
.sales-report .select-fields .field-item .field-inner select{
  width: 45%;
  padding: 11px 10px;
  margin: 0 15px;
  color: white;
  border: none;
  height: inherit;
}
.sales-report .select-fields .field-item .field-inner .btn{
 padding:10px 10px !important;
}
.sales-report .select-fields .field-item .field-inner option{
  padding: 11px;
  border: 1px solid lightgray;
  color: white;
  border: none;
  height: inherit;
}
.sales-report .select-fields .button-fields{
  margin-top: 60px;

}
.sales-report .graph-fields .field-inner.text-center img {
  width: auto !important;
  height: 300px;
  margin-bottom: 25px;
}
.sales-report .graph-fields .field-inner.text-center h2 {
  text-decoration: underline;
}
.sales-report .result-fields .field-inner label{
  width: auto;
}
.sales-report .result-fields .field-inner input{
  width: unset;
}
.sales-report .result-fields .field-item .field-inner {
  padding: 17px 40px;
}
.sales-report .result-fields table th {
  text-align: center;
}
.sales-report .select-fields .button-fields {
  margin-left: 8.33333333%;
}

/* Payment Modal */
#add-payment .modal-dialog,
#add-new-customer .modal-dialog,
#add-manufacturer .modal-dialog{
  width: 50% !important;
}
#add-payment .modal-body .field-group input{
  margin: 0px;
}

/* Add New Customer */
#add-new-customer .modal-body .field-group input{
  margin: 0px;
}

/* Add Manufacturer */
#add-manufacturer .modal-body .field-group input{
  margin: 0px;
}

/* New Item Modal */
#add-new-item .modal-body .field-group .field-item {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}
#add-new-item .modal-body .field-group .field-item input{
  color: white;
  margin: 0px;
}
#add-new-item .modal-body .field-group .field-item label{
  padding: 0px;
}
.payments-notes < .field-group{
  margin-bottom: none;
}

@media print {
  .description-table{
    position: absolute
    width: 100%;
  }
  .item-actions, .item-stock{
    display: none
  }
}